---

---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WVDQHXH");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Hi, I'm Kjell. Find out how to contact me or learn more about my projects."
    />
    <title>404</title>
    <style>
      @import "tailwindcss";
      body {
        background-color: black;
        color: white;
        height: 100vh;
        font-family: Lexend, sans-serif;
        margin: 0;
      }
      h1 {
        background-image: linear-gradient(90deg, #e649f5 25%, #2099ff 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        overflow: hidden; /* Ensures the content is not revealed until the animation */
      }
      @font-face {
        font-family: "Lexend";
        src: url("/LexendExa-Medium.ttf") format("truetype");
      }
    </style>
  </head>
  <body class="flex justify-center items-center">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WVDQHXH"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div>
      <h1 class="md:text-7xl text-4xl">404</h1>
    </div>
  </body>
</html>
