---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WVDQHXH");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="description"
      content="Hi, I'm Kjell. Find out how to contact me or learn more about my projects."
    />
    <title>Kjell Hanken</title>
  </head>
  <body class="flex justify-center items-center flex-col gap-12">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WVDQHXH"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <div>
      <h1 class="p-2 md:text-7xl text-4xl">Kjell Hanken</h1>
    </div>
    <div class="flex text-center justify-center gap-8 md:gap-12">
      <a
        class="w-7 h-7"
        href="https://linkedin.com/in/kjell-hanken/"
        target="_blank"
      >
        <img src="/InBug-White.png" alt="LinkedIn" />
      </a>
      <a class="w-7 h-7" href="https://github.com/kjell5317" target="_blank">
        <img src="/github-mark-white.png" alt="GitHub" />
      </a>
      <a class="w-7 h-7" href="https://instagram.com/kjell5317" target="_blank">
        <img src="/Instagram_Glyph_White.png" alt="Instagram" />
      </a>
      <a class="h-7" href="mailto:contact@kjellhanken.de" target="_blank">
        <img src="/Mail.svg" alt="Mail" class="h-7" />
      </a>
    </div>
  </body>
</html>
