---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Icon from "../components/Icon.astro";
import { Tags } from "../components/Tags.tsx";
---

<Layout>
  <main>
    <Tags client:load/>
    <ul class="timeline">
      <Card
        title="kjellhanken.de"
        date="Oct 2023 - Dec 2023"
        tag="Project"
        href="https://github.com/kjell5317/kjellhanken.de"
        src="lhind.png"
      >
        <Icon name="figma" tooltip="Figma" slot="icons" />
        <Icon name="astro" tooltip="Astro" slot="icons" />
        <Icon name="tailwind" tooltip="Tailwind CSS | daisyUI" slot="icons" />
        <Icon
          name="github"
          tooltip="GitHub Actions | GitHub Pages"
          slot="icons"
        />
        <p slot="content">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
          sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
          dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
          et justo duo
        </p>
      </Card>
    </ul>
  </main>
</Layout>