<nav class="navbar">
    <div class="navbar-start">
        <a href="https://github.com/kjell5317"class="btn">
            <img src="icons/github.svg">
        </a>
    </div>
    <div class="navbar-end">
        <label for="navbar-toggle" class="btn btn-circle swap swap-rotate" id="cover">
            <input type="checkbox" id="navbar-toggle" />
            <svg class="swap-off fill-white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
            <svg class="swap-on fill-white" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
        </label>
        <ul id="menu">
            <li><a href="" class="btn btn-circle"><img src="icons/github.svg"></a></li>
            <li><a href="" class="btn btn-circle"><img src="icons/github.svg"></a></li>
            <li><a href="" class="btn btn-circle"><img src="icons/github.svg"></a></li>
        </ul>
    </div>
</nav>
<style>

    #menu {
        display: flex;
        flex-direction: row;
        transition: all .3s ease-out;
        transform: translateX(100%);
        overflow: hidden;
        margin-right: 70.82px;
        opacity: 0;
    }

    #cover {
        position: absolute;
        width: 60.82px;
        background-color: #212121;
        padding-right: 10px;
        justify-content: flex-start;
        align-items: center;
        height: 32px;
        border-radius: 20px 0 0 20px;
        z-index: 100;
    }

    #menu li {
        margin: 0 10px;
        height: 32px;
    }

    label:has(#navbar-toggle:checked) ~ #menu {
        transform: translateX(0%);
        opacity: 1;
    }

    .navbar {
        position: fixed;
        top: 0;
        background: #212121; /* linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 100%); */
        padding: 12px 0 12px 12px;
        z-index: 100;
        border-bottom: 1px solid grey;
        justify-content: space-between;
    }

    .navbar-start {
        width: revert;
    }
    .navbar-end {
        width: revert;
    }
</style>